body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#game-board {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    margin: 30px auto;
  }

@media (max-width : 800px) {
#game-board.nbOfPairs2 {
  grid-template-columns: repeat(2, 80px);
  grid-auto-rows: 80px;
}

#game-board.nbOfPairs3 {
    grid-template-columns: repeat(3, 80px);
    grid-auto-rows: 80px;
  }

  #game-board.nbOfPairs4plus {
    grid-template-columns: repeat(4, 60px);
    grid-auto-rows: 60px;
  }
}

@media (width > 800px) {
#game-board.nbOfPairs2 {
        grid-template-columns: repeat(2, 100px);
        grid-auto-rows: 100px;
      }
      
#game-board.nbOfPairs3 {
          grid-template-columns: repeat(3, 100px);
          grid-auto-rows: 100px;
        }
      
#game-board.nbOfPairs4plus {
          grid-template-columns: repeat(4, 100px);
          grid-auto-rows: 100px;
        }
}

.card {
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.card .card-content {
    opacity: 0;
  }

.card.flip .card-content {
    opacity: 1;
  }

.card.matched {
    border: solid 4px rgb(0, 255, 0);
    box-sizing: border-box; 
    cursor: default;
}
.card .card-content {
    max-width: 100%;
}

.card.flip{
    transform: rotateY(180deg);
}
.card .card-content {
    transition: all 0.3s;
}
.card {
    /*animation*/
    transform: rotateY(0deg);
    transition: all 0.5s;
}
